* {
    background-color: lightcyan;
    color: plum;
    text-align: center;
}

h1 {
    color: pink;
}

button {
    background-color: pink;
    color: white;
}

div {
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    font-size: large;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

table {
    margin: auto;
}

a {
    color: pink;
}

.covered {
    background-color: plum;
}
